header {
    height: 100vh;
    background-image:url('../assets/header.jpg');
    background-position: center;
    background-size: cover;
}
nav{
    background: transparent;
    border-bottom: 1px solid white;
}

header button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 5px;
    font-size: 25px;
}

.card img {
    height: 250px;
}

.card-body{
    height: 300px;
    padding-top: 30px;
}

.btn-primary{
    margin-top: 80px;
}
.btn-danger{
    margin-top: 80px;
}

.card-title{
    font-weight: 400;
    font-size: 30px;
}

#reservation{
    background-image: url('../assets/reservation.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#reservation h1{
    color: white;
}



