body{
    font-family: Comfortaa;
}
header {
    height: 100vh;
    background-image:url('../assets/reservation.webp');
    background-position: center;
    background-size: cover;
}
nav{
    background: transparent;
}

header button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 5px;
    font-size: 25px;
}

.card img {
    height: 250px;
}

.card-body{
    height: 300px;
    padding-top: 30px;
}

.btn-primary{
    margin-top: 80px;
    background-color: #326db6;
    border:none;
}
.btn-danger{
    margin-top: 80px;
}
.btn:disabled{
    background-color: #990033;
    opacity: 1;
    border:none;
}

.card-title{
    font-weight: 400;
    font-size: 30px;
}

#reservation{
    background-image: url('../assets/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#reservation h1{
    color: white;
}

#reservation label {
    font-weight: 400;
}

nav li{
    cursor: pointer;
}
.nav-link{
    color:white;
    font-size: 16px;
    font-weight: bold;
}
.navbar-nav{
padding: 20px;
padding-top: 0px;

}
header button:hover{
    background-color: rgba(255,255,255,0.3);
    color: rgba(0, 0, 0, 0.3);
}

#up-button{
    display: none;
    position:fixed;
    right:10px;
    bottom:5px;
    z-index:60;
    outline:none;
    background-image: url(../assets/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width:40px;
    cursor: pointer;
    background-size:cover;
    background-color: transparent;
    border: none;
}








